@import "../variables/Variables.scss";


.navbar-content-1 {
    height: 80%;
    width: 60vw;
    background-color: $backgroundColor;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color : $blackColor;
    font-size: 20px;
   
}

.navbar-content-1 {
    .nav-left {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 4vh;
        font-weight: 500;
        letter-spacing: 1px;
        margin-left: 50px;
    }
    .nav-center {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .nav-right{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        max-width: 15%;
        margin-right: 50px;
        align-items: center;
        
    }
}

.navbar-content-3 {
    width: 100%;
    height: 12vh;
    background-color: $pastEventsColor;
    display: flex;
    align-items: center;

    .nav-left {
        font-weight: 900;
        font-size: 40px;
        margin-left: 2.5vw;
        text-decoration: underline;
    }
}

.navbar-content-4 {
    width: 100%;
    height: 12vh;
    background-color: $teamColor;
    display: flex;
    align-items: center;

    .nav-left {
        font-weight: 900;
        font-size: 40px;
        margin-left: 2.5vw;
        text-decoration: underline;
    }

}