@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "variables/Variables.scss";

@font-face {
  font-family: Offbit-101;
  src: local("OffbitTrial-101"),
    url("./fonts/OffbitTrial-101.ttf") format("truetype");
}

@font-face {
  font-family: Offbit-101Bold;
  src: local("OffbitTrial-101Bold"),
    url("./fonts/OffbitTrial-101Bold.ttf") format("truetype");
}

@font-face {
  font-family: Offbit-Bold;
  src: local("OffbitTrial-Bold"),
    url("./fonts/OffbitTrial-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Offbit-Dot;
  src: local("OffbitTrial-Dot"),
    url("./fonts/OffbitTrial-Dot.ttf") format("truetype");
}

@font-face {
  font-family: Offbit-DotBold;
  src: local("OffbitTrial-DotBold"),
    url("./fonts/OffbitTrial-DotBold.ttf") format("truetype");
}

@font-face {
  font-family: Offbit-Regular;
  src: local("OffbitTrial-Regular"),
    url("./fonts/OffbitTrial-Regular.ttf") format("truetype");
}

@font-face {
  font-family: PressStart2P;
  src: local("PressStart2P"),
    url("./fonts/PressStart2P-Regular.ttf") format("truetype");
}

@font-face {
  font-family: CommutersSans-Heavy;
  src: local("CommutersSans-Heavy"),
    url("./fonts/CommutersSans-Heavy.ttf") format("truetype");
}

:root {
  background-color: $backgroundColor;
}

body {
  margin: 0;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
